{{ data.Basics.Name }} {% if "Pronouns" in data.Basics %}({{ data.Basics.Pronouns }}){% endif %}
Email: {{ data.Basics.Email }}
Tel: {{ data.Basics.Phone }}
{% if "Website" in data.Basics %}Web: {{ data.Basics.Website }}{% endif -%}
GitHub: {{ data.Basics.Profiles.github.Url }}
LinkedIn: {{ data.Basics.Profiles.linkedin.Url }}

================================================================================

{{ data.Basics.Summary }}


SKILLS -------------------------------------------------------------------------
{% for skill in data.Skills %}
- {{ skill.Name }}: {{ funcs.join(skill.Keywords, ", ") }}{% endfor %}


PROJECTS -----------------------------------------------------------------------
{% for project in data.Projects %}
- {{ project.Name }} | {{ funcs.join(project.Keywords, " + ") }}
  {{ project.Links.github }} | {{ project.Links.external }}
  {{ project.Description }}{% for highlight in project.Highlights %}
  - {{ highlight.Base }}{% for lowlight in highlight.Lowlights %}
    - {{ lowlight }}{% endfor %}{% endfor %}
{% endfor %}

WORK HISTORY -------------------------------------------------------------------
{% for item in data.Work %}
- {{ item.Company }} | {{ item.Position }} | {{ item.StartDate | date: "Jan 2006" }} - {% if item.EndDate.IsZero() %}Present{% else %}{{ item.EndDate | date: "Jan 2006" }}{% endif %}
  {{ item.Summary }}{% for highlight in item.Highlights %}
  - {{ highlight.Base }}{% for lowlight in highlight.Lowlights %}
    - {{ lowlight }}{% endfor %}{% endfor %}
{% endfor %}

EDUCATION ----------------------------------------------------------------------

{% for item in data.Education %}- {{ item.Institution }} | {{ item.StudyType }}, {{ item.Area }} | {{ item.StartDate | date: "Jan 2006" }} - {% if item.EndDate.IsZero() %}Present{% else %}{{ item.EndDate | date: "Jan 2006" }}{% endif %}
{% endfor %}

LANGUAGES ----------------------------------------------------------------------

{% for language in data.Languages %}- {{ language.Language }} - {{ language.Fluency }}
{% endfor %}

INTERESTS ----------------------------------------------------------------------

{% for interest in data.Interests %}- {{ interest.Name }}
{% endfor %}
