{% macro end_date(item) export %}{% if item.EndDate.IsZero() %}Present{% else %}{{ item.EndDate | date: "Jan 2006" }}{% endif %}{% endmacro %}

{% macro date_span(item) export %}{{ item.StartDate | date: "Jan 2006" }} - {{ end_date(item) }}{% endmacro %}